mixin statsItem(statsValues)
   .stats_item
            img(src=statsValues.statsImg, alt=statsValues.altImg class="stats_item_img")
            .stats_item-descr
               .stats_item-label=statsValues.statsValue
               p.stats_item-text=statsValues.statsDescr
