.table-container
    table
        thead
            tr
                th Статус
                th Имя проекта
                th Прогресс
                th Осталось
            tr
        tbody
            tr
                td В процессе
                td Проект 1
                td 
                    progress(max='100' value='70')/
                td 30%
            tr
            tr
                td В процессе
                td Проект 2
                td 
                    progress(max='100' value='40')/
                td 60%
            tr
            tr
                td Завершено
                td Проект 3
                td 
                    progress(max='100' value='100')/
                td 0%
            tr
        tbody
    table