@import "../progress/progressTable/progressTable.css";

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  color: #ffffff;
  font-family: "SF Pro Display", sans-serif;
}

.main_title {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
}

.main_wrapper {
  background: #131419;
  padding: 50px 0 40px 0;
}

.more-donuts_btn {
  display: block;
  border: 2px solid #2d2d3a;
  box-sizing: border-box;
  border-radius: 15px;
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 118px;
  height: 50px;
  background: transparent;
  color: #2d2d3a;
  cursor: pointer;
  margin: 20px auto;
  transition: 0.7s;
}

.more-donuts_btn:hover {
  color: #fff;
  border-color: #fff;
}
.more-donuts_btn:active {
  color: #2d2d3a;
  border-color: #2d2d3a;
}
