.task_card
   .project_card
      .project_skeleton_ava
      .project_skeleton_text
         .project_skeleton_title
         .project_skeleton_title
   .project_skeleton_img
      img(src="../../img/card/skelet.svg", alt="skelet")
   .project_skeleton_button
