doctype html
html(lang="en")
  body
    .card
      .person
        .ava
          img(src="../../img/card/ava.svg", alt="ava")
          .circle 
            .heart  
              img(src="../../img/card/heart.jpg", alt="heart")
        .text
          h2 Tran Mau Tri Tam
          h3 Like
        .menu
      .show
        img(src="../../img/card/show.svg", alt="show")
      button   Perform a task
    