<!DOCTYPE html>
html(lang="ru")
  body
    .task_card
      .project_card
        .project_card_ava
          img(src="../../img/card/ava.svg", alt="ava")
          .project_card_circle
            img(src="../../img/card/heart.svg", alt="heart")
        .project_card_text
          .project_card_text_name Tran Mau Tri Tam
          .project_card_text_description Like
        img(src="../../img/card/three.svg", alt="three", class="menu_card")
      img(src="../../img/card/show.svg", alt="show", class="task_card_image")
      button(class="button_card") Perform a task
    