<!DOCTYPE html>
html(lang="ru")
  body
    .card
      .person_card
        .ava_card
          img(src="../../img/card/ava.svg", alt="ava", class="ava_card")
          .circle_card
            img(src="../../img/card/heart.svg", alt="heart")
        .text_card
          .h2_card Tran Mau Tri Tam
          .h3_card Like
        img(src="../../img/card/three.svg", alt="three", class="menu_card")
      img(src="../../img/card/show.svg", alt="show", class="show_card")
      button(class="button_card") Perform a task
    