<!DOCTYPE html>
html(lang="ru")
  body
    .card
      .person_card
        .ava_card
          img(src="../../img/card/ava.svg", alt="ava")
          .circle_card
            img(src="../../img/card/heart.jpg", alt="heart")
        .text_card
          .h2_card Tran Mau Tri Tam
          .h3_card Like
        .menu_card
          img(src="../../img/card/three.png", alt="three")
      .show_card
        img(src="../../img/card/show.svg", alt="show")
      button(class="button_card") Perform a task
    