<!DOCTYPE html>
html(lang="ru")
   .card
      .person_card
         .ava_skeleton
         .text_skeleton
            .text1_skeleton
            .text2_skeleton
      .show_skeleton()
         img(src="../../img/card/skelet.svg", alt="skelet")
      .button_skeleton
