table(class="progress-table")
    thead
        tr(class='table-row table-head')
            th Имя проекта
            th Автор
            th Статус
            th Прогресс
            th Внесено
    tbody
        include tableRow.pug