<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title ?index page

  body
    include ../components/header/header.pug
    main.page_index index
    img(src='img/logo.jpg')
    include ../components/footer/footer.pug

    

