<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title list

  body
    include ../components/header/header.pug

    main.main_wrapper
      .top_button 
        img(src="../../img/card/arrow.svg", alt="arrow") 
      div.container  
        h2.main_title Cards list 
        .block_cards
          include ../components/card/card.pug 
          include ../components/card/card.pug
          include ../components/card/card.pug
          include ../components/card/card.pug
          include ../components/card/card.pug
          include ../components/card/card.pug
          include ../components/card/card.pug
          include ../components/card/card.pug
          include ../components/card/card.pug
          include ../components/card/card.pug
          include ../components/card/card.pug
          include ../components/card/skeleton.pug
         
          
          

    


