<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Прогресс

  body
  include ../components/header/header.pug
  main.main_wrapper
    div.container
      h2.main_title История сборов
      include ../components/progress/progressTable/progressTable.pug
      button(class="more-donuts_btn") Показать все
  include ../components/footer/footer.pug
    

    

