include ../components/header/header.pug
main.main_wrapper
  div.container
    h2.main_title История сборов
    include ../components/crowdHistory/progressTable.pug
    button(class="show_more_btn") Показать все