form(action="#" class="user_data_form")
    .settings_field
        label.settings_subtitle Ссылка на Telegram
        input(type="text", name="telegram-link")
    .settings_field    
        label.settings_subtitle Электронная почта
        input(type="email", name="email-link")
    .settings_field
        label.settings_subtitle Старый пароль
        input(type="password", name="primary-pass")
    .settings_field
        label.settings_subtitle Новый пароль
        input(type="password", name="new-pass")
    .settings_field
        label.settings_subtitle Подтвердите новый пароль
        input(type="password", name="confirm-pass")
    button(class="upload_btn submit_btn") Сохранить

     