@import url(../../components/settings/socialConnect.css);
@import url(../../components/settings/userStats.css);
@import url(../../components/settings/userPhoto.css);
@import url(../../components/settings/userData.css);

.user-media_wrapper {
  grid-area: userMedia;
}
.user-data_wrapper {
  grid-area: userForm;
}
.user-stats_wrapper {
  grid-area: userStats;
}

.settings_wrapper {
  padding: 35px 0;
  display: grid;
  grid-template-columns: 290px 430px 340px;
  gap: 80px;
  grid-template-areas: "userMedia userForm userStats";
}

.settings-subtitle {
  font-size: 14px;
  color: #5f5f6e;
  margin-bottom: 10px;
}

.pass-manage_wrp,
.pass-manage_item,
.stats_wrapper,
.social-connect_wrp {
  margin-top: 10px;
}

@media (max-width: 1300px) {
  .settings_wrapper {
    grid-template-columns: 290px minmax(290px, 1fr) minmax(290px, 1fr);
    gap: 30px;
  }
}
@media (max-width: 1024px) {
  .settings_wrapper {
    grid-template-columns: 290px minmax(290px, 1fr);
    gap: 30px;
    grid-template-areas:
      "userMedia userForm"
      "userStats userStats";
  }
}

@media (max-width: 700px) {
  .settings_wrapper {
    grid-template-columns: 1fr;
    gap: 30px;
    grid-template-areas:
      "userMedia"
      "userForm"
      "userStats";
  }
  .user-media_wrapper {
    display: grid;
    grid-template-columns: 165px 1fr;
    grid-template-rows: 230px;
    gap: 10px;
  }
  .user-media_social {
    margin-top: 0;
  }
  .social-connect_item {
    margin-top: 18px;
  }
  .add_btn {
    width: 16px;
  }
  .social-icon_img {
    width: 30px;
  }
  .user-media_photo {
    padding: 10px;
  }
  .user-media_img {
    width: 100%;
  }
  .upload_btn {
    font-size: 12px;
    height: 40px;
    margin-top: 15px;
  }
}

@media (max-width: 442px) {
  .social-connect_item {
    font-size: 12px;
    margin-top: 10px;
  }
  .social-connect_txt {
    margin-right: 5px;
  }
  .user-media_wrapper {
    grid-template-columns: 130px 1fr;
    grid-template-rows: 190px;
  }
  .upload_btn {
    margin-top: 10px;
  }
}
