header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px 20px;
  border-bottom: 2px solid var(--light_gray);
  display: flex;
  justify-content: space-between;
  background: var(--gray);
  z-index: 9999;
}

.header_logo,
.header_bar,
.header_bar_link,
.header_profile,
.header_profile_bar,
.header_profile_btn,
.header_profile_link {
  display: flex;
  align-items: center;
}

.header_logo_icon {
  padding: 7px;
  background: var(--blue);
  border-radius: 50%;
}

.header_logo_title {
  font-size: 18px;
  color: var(--white);
  margin-left: 10px;
}

.header_bar_link {
  color: var(--asphalt_color);
  padding: 0 12px;
  font-size: 16px;
  letter-spacing: -0.5px;
}

.header_bar_link:hover {
  color: var(--white);
}

.header_bar_link:hover .bar_link_icon {
  fill: var(--white);
}

.header_bar_link p {
  margin-left: 10px;
}

.header_profile {
  position: relative;
}

.header_profile_bar {
  padding: 5px 30px 5px 5px;
  background: var(--light_gray);
  border-radius: 15px;
  margin-right: 10px;
}

.profile_bar_btn {
  padding: 7px;
  background: var(--blue);
  border: none;
  border-radius: 10px;
  margin-right: 22px;
}

.profile_bar_indicator {
  color: var(--white);
  font-size: 14px;
  margin-left: 8px;
  letter-spacing: 1px;
}

.header_profile_btn {
  background: none;
  border: none;
  color: var(--asphalt_color);
}

.header_profile_btn svg {
  margin-left: 10px;
}

.header_profile_btn:hover .profile_btn_icon {
  fill: var(--blue);
}

.header_profile_menu {
  display: none;
  position: fixed;
  width: 100%;
  max-width: 254px;
  padding: 0 20px;
  background: var(--gray);
  top: 62px;
  right: 20px;
  z-index: 500;
  border-radius: 15px;
  border: 2px solid var(--light_gray);
}

#profile_link_aside {
  display: none;
}

.header_profile_link {
  width: 100%;
  color: var(--white); 
  font-size: 15px;
  padding: 20px 0;
}

.header_profile_link p {
  margin-left: 10px;
}

.header_profile_menu 
li:nth-child(n+2):nth-child(-n+3) 
.header_profile_link {
  border-bottom: 1px solid var(--light_gray);
}

.header_profile_menu 
li:hover:nth-child(-n+2) 
.header_profile_link,
.header_profile_menu 
li:hover:nth-child(-n+2) 
.header_profile_link .profile_link_icon {
  color: var(--blue);
  fill: var(--blue);
}

.header_profile_menu 
li:nth-child(3) 
.header_profile_link {
  cursor: auto;
}

.header_profile_menu 
li:hover:last-child 
.header_profile_link,
.header_profile_menu 
li:hover:last-child 
.header_profile_link 
.profile_link_icon {
  color: var(--red);
  fill: var(--red);
}

.header_profile_checkbox {
  display: flex;
  width: 44px;
  height: 24px;
  background: var(--light_gray);
  margin-left: auto;
  border-radius: 15px;
  padding: 3px;
}

.profile_checkbox_element {
  display: none;
  width: 19px;
}

.profile_checkbox_ellipse {
  height: 18px;
  width: 18px;
  background: var(--blue);
  border-radius: 50%;
}

.profile_checkbox_ellipse_click {
  height: 18px;
  width: 18px;
  background: var(--white);
  border-radius: 50%;
}