<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title ?index page
    // Fonts
    link(href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet")
    // Icons
    script(src="https://kit.fontawesome.com/6e4d9f615d.js" crossorigin="anonymous")
    
header
  a(class="header_logo" href='index.html')
    div(class="header_logo_icon flex")
      img(src="../../img/header/top_logo_icon.png")
    h1(class="header_logo_title") Crowdfunding
  ul(class="header_bar")
    li
      a(class="header_bar_link" href="#")
        i(class="fas fa-th-large")
        p Проекты
    li
      a(class="header_bar_link" href="#")
        i(class="fas fa-globe-africa")
        p Новости
    li
      a(class="header_bar_link" href="#")
        i(class="fas fa-question-circle")
        p Помощь
  div(class="header_profile")
    ul(class="header_profile_bar")
      button(class="profile_bar_btn flex pointer")
        img(src="../../img/header/plus_money_icon.png")
      img(src="../../img/header/money_icon.png" id="profile_bar_icon")
      p(class="profile_bar_indicator") 2023
    a(href="#")
    button(class="header_profile_btn pointer")
      img(src="../../img/header/avatar_icon.png")
      i(class="fas fa-chevron-down")
    ul(class="header_profile_menu")
      li
        a(class="header_profile_link" href="#")
          i(class="fas fa-user")
          p Мой профиль
      li
        a(class="header_profile_link" href="#")
          i(class="fas fa-th-large")
          p История сборов
      li
        div(class="header_profile_link")
          i(class="fas fa-sun")
          p Тёмный режим
          div(class="header_profile_checkbox pointer")
            div(class="profile_checkbox_element")
            div(class="profile_checkbox_ellipse" id="profile_checkbox_click")
      li
        a(class="header_profile_link" href="#" id="profile_link_aside")
          i(class="fas fa-th-large")
          p Проекты
      li
        a(class="header_profile_link" href="#" id="profile_link_aside")
          i(class="fas fa-globe-africa")
          p Новости
      li
        a(class="header_profile_link" href="#" id="profile_link_aside")
          i(class="fas fa-question-circle")
          p Помощь
      li
        a(class="header_profile_link" href="#")
          i(class="fas fa-sign-out-alt")
          p Выйти
  ul(class="header_mobile flex")
    li
      a(class="header_mobile_item pointer")
        i(class="fas fa-th-large")
        p Проекты
    li
      a(class="header_mobile_item pointer")
        i(class="fas fa-globe-africa")
        p Новости
    li
      a(class="header_mobile_item pointer")
        i(class="fas fa-question-circle")
        p Помощь
    li
      a(class="header_mobile_item pointer" id="mobile_item_menu") 
        <i class="fas fa-bars"></i>
        p Меню

// Mobile menu sections
div(class="header_mobile_section") 
  ul(class="mobile_section_list")
    li
      h2(class="mobile_section_item") Меню
    li
      a(class="mobile_section_item" href="#")
        i(class="fas fa-user")
        p Мой профиль
    li
      a(class="mobile_section_item" href="#")
        i(class="fas fa-th-large")
        p История сборов
    li
      div(class="mobile_section_item")
        i(class="fas fa-sun")
        p Тёмный режим 
        div(class="mobile_section_checkbox pointer")
          div(class="section_checkbox_element")
          div(class="section_checkbox_ellipse" id="section_checkbox_click")
    li
      a(class="mobile_section_item" href="#")
        i(class="fas fa-sign-out-alt")
        p Выйти
  p(class="mobile_section_police") © 2020 - All Rights Lecensed

//jQuery
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")