mixin title(pageName)
  title= pageName
  
<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    +title('Crowdfunding')
    
header
  a(class="header_logo" href='index.html')
    div(class="header_logo_icon flex")
      img(src="../../img/header/top_logo_icon.svg")
    h1(class="header_logo_title") Crowdfunding
  ul(class="header_bar")
    li
      a(class="header_bar_link" href="#")
        svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(class="bar_link_icon" fill-rule="evenodd" clip-rule="evenodd" d="M2 0H6C7.103 0 8 0.897 8 2V6C8 7.103 7.103 8 6 8H2C0.897 8 0 7.103 0 6V2C0 0.897 0.897 0 2 0ZM12 0H16C17.103 0 18 0.897 18 2V6C18 7.103 17.103 8 16 8H12C10.897 8 10 7.103 10 6V2C10 0.897 10.897 0 12 0ZM6 10H2C0.897 10 0 10.897 0 12V16C0 17.103 0.897 18 2 18H6C7.103 18 8 17.103 8 16V12C8 10.897 7.103 10 6 10ZM12 10H16C17.103 10 18 10.897 18 12V16C18 17.103 17.103 18 16 18H12C10.897 18 10 17.103 10 16V12C10 10.897 10.897 10 12 10Z" fill="#5F5F6E")
        p Проекты
    li
      a(class="header_bar_link" href="#")
        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(class="bar_link_icon" fill-rule="evenodd" clip-rule="evenodd" d="M14.8887 16.3184C14.7167 15.8854 14.4727 15.5074 14.2587 15.1844C14.1507 15.0224 14.0397 14.8574 13.9427 14.6874C13.5537 14.0114 13.6877 13.7374 14.3187 12.6804L14.4207 12.5074C14.9317 11.6464 14.9597 10.8204 14.9857 10.0924C14.9977 9.73437 15.0097 9.39737 15.0787 9.08037C15.2397 8.34837 16.7867 8.15337 17.7457 8.03837C17.9067 8.66737 17.9997 9.32237 17.9997 10.0004C17.9997 12.5694 16.7777 14.8534 14.8887 16.3184ZM9.99969 2.00037C10.6157 2.00037 11.2107 2.07637 11.7867 2.20837C11.6177 2.58037 11.3567 2.91937 11.0127 3.18837C10.7947 3.36037 10.5497 3.50337 10.3067 3.64837C9.65569 4.03637 8.91869 4.47637 8.45669 5.32237C7.84069 6.45237 7.84069 7.60637 7.84069 8.62437C7.84069 9.97937 7.79669 10.7804 6.89269 11.4874C5.52369 12.5604 3.42869 11.9614 2.13269 11.4164C2.05069 10.9554 1.99969 10.4834 1.99969 10.0004C1.99969 5.58937 5.5887 2.00037 9.99969 2.00037ZM9.99969 0.000366211C4.48569 0.000366211 -0.000305176 4.48637 -0.000305176 10.0004C-0.000305176 15.5134 4.48569 20.0004 9.99969 20.0004C15.5137 20.0004 19.9997 15.5134 19.9997 10.0004C19.9997 4.48637 15.5137 0.000366211 9.99969 0.000366211Z" fill="#5F5F6E")
        p Новости
    li
      a(class="header_bar_link" href="#")
        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(class="bar_link_icon" fill-rule="evenodd" clip-rule="evenodd" d="M11 10.8369V11.9999C11 12.5529 10.553 12.9999 10 12.9999C9.447 12.9999 9 12.5529 9 11.9999V9.99988C9 9.44688 9.447 8.99988 10 8.99988C10.827 8.99988 11.5 8.32688 11.5 7.49988C11.5 6.67288 10.827 5.99988 10 5.99988C9.173 5.99988 8.5 6.67288 8.5 7.49988C8.5 8.05288 8.053 8.49988 7.5 8.49988C6.947 8.49988 6.5 8.05288 6.5 7.49988C6.5 5.56988 8.07 3.99988 10 3.99988C11.93 3.99988 13.5 5.56988 13.5 7.49988C13.5 9.07988 12.44 10.4029 11 10.8369ZM10 15.9999C9.447 15.9999 9 15.5529 9 14.9999C9 14.4469 9.447 13.9999 10 13.9999C10.553 13.9999 11 14.4469 11 14.9999C11 15.5529 10.553 15.9999 10 15.9999ZM10 -0.00012207C4.486 -0.00012207 0 4.48588 0 9.99988C0 15.5139 4.486 19.9999 10 19.9999C15.514 19.9999 20 15.5139 20 9.99988C20 4.48588 15.514 -0.00012207 10 -0.00012207Z" fill="#5F5F6E")
        p Помощь
  div(class="header_profile")
    ul(class="header_profile_bar")
      button(class="profile_bar_btn flex pointer")
        img(src="../../img/header/plus_money_icon.svg")
      img(src="../../img/header/money_icon.svg" id="profile_bar_icon")
      p(class="profile_bar_indicator") 2023
    a(href="#")
    button(class="header_profile_btn pointer")
      img(src="../../img/header/avatar_icon.svg")
      svg(width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(class="profile_btn_icon" fill-rule="evenodd" clip-rule="evenodd" d="M7.00003 6.99998C6.77203 6.99998 6.54503 6.92298 6.36003 6.76798L0.360031 1.76798C-0.0639688 1.41498 -0.121969 0.783984 0.232031 0.359984C0.585031 -0.0640163 1.21503 -0.121016 1.64003 0.231984L7.01103 4.70798L12.373 0.392984C12.803 0.0469837 13.433 0.114984 13.779 0.544984C14.125 0.974984 14.057 1.60398 13.627 1.95098L7.62703 6.77898C7.44403 6.92598 7.22203 6.99998 7.00003 6.99998Z" fill="#5F5F6E")
    ul(class="header_profile_menu")
      li(class="profile_menu_item")
        a(class="header_profile_link" href="#")
          svg(width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(class="profile_link_icon" fill-rule="evenodd" clip-rule="evenodd" d="M11 4C11 6.206 9.206 8 7 8C4.794 8 3 6.206 3 4C3 1.794 4.794 0 7 0C9.206 0 11 1.794 11 4ZM14 17C14 17.552 13.553 18 13 18H1C0.447 18 0 17.552 0 17C0 13.14 3.141 10 7 10C10.859 10 14 13.14 14 17Z" fill="#fff")
          p Мой профиль
      li(class="profile_menu_item")
        a(class="header_profile_link" href="#")
          svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(class="profile_link_icon" fill-rule="evenodd" clip-rule="evenodd" d="M2 0H6C7.103 0 8 0.897 8 2V6C8 7.103 7.103 8 6 8H2C0.897 8 0 7.103 0 6V2C0 0.897 0.897 0 2 0ZM12 0H16C17.103 0 18 0.897 18 2V6C18 7.103 17.103 8 16 8H12C10.897 8 10 7.103 10 6V2C10 0.897 10.897 0 12 0ZM6 10H2C0.897 10 0 10.897 0 12V16C0 17.103 0.897 18 2 18H6C7.103 18 8 17.103 8 16V12C8 10.897 7.103 10 6 10ZM12 10H16C17.103 10 18 10.897 18 12V16C18 17.103 17.103 18 16 18H12C10.897 18 10 17.103 10 16V12C10 10.897 10.897 10 12 10Z" fill="#fff")
          p История сборов
      li(class="profile_menu_item")
        div(class="header_profile_link")
          svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M10 4C10.552 4 11 3.553 11 3V1C11 0.447 10.552 0 10 0C9.448 0 9 0.447 9 1V3C9 3.553 9.448 4 10 4ZM19 9H17C16.448 9 16 9.447 16 10C16 10.553 16.448 11 17 11H19C19.552 11 20 10.553 20 10C20 9.447 19.552 9 19 9ZM3 9C3.552 9 4 9.447 4 10C4 10.553 3.552 11 3 11H1C0.448 11 0 10.553 0 10C0 9.447 0.448 9 1 9H3ZM4.2207 3.0283C3.8237 2.6453 3.1907 2.6573 2.8067 3.0533C2.4227 3.4503 2.4337 4.0843 2.8307 4.4673L4.2697 5.8573C4.4647 6.0453 4.7147 6.1373 4.9647 6.1373C5.2267 6.1373 5.4877 6.0353 5.6837 5.8323C6.0677 5.4353 6.0567 4.8013 5.6597 4.4183L4.2207 3.0283ZM15.7302 5.8577C15.5352 6.0447 15.2852 6.1377 15.0352 6.1377C14.7732 6.1377 14.5122 6.0347 14.3162 5.8317C13.9322 5.4357 13.9432 4.8017 14.3402 4.4177L15.7792 3.0287C16.1782 2.6457 16.8102 2.6577 17.1932 3.0537C17.5772 3.4497 17.5662 4.0837 17.1692 4.4677L15.7302 5.8577ZM10 16C9.448 16 9 16.447 9 17V19C9 19.553 9.448 20 10 20C10.552 20 11 19.553 11 19V17C11 16.447 10.552 16 10 16ZM14.316 14.1676C14.7 13.7716 15.333 13.7596 15.73 14.1426L17.169 15.5326C17.566 15.9156 17.577 16.5496 17.193 16.9466C16.997 17.1496 16.736 17.2516 16.474 17.2516C16.224 17.2516 15.974 17.1596 15.779 16.9716L14.34 15.5816C13.943 15.1986 13.932 14.5646 14.316 14.1676ZM4.27 14.1426L2.831 15.5326C2.434 15.9156 2.423 16.5496 2.807 16.9466C3.003 17.1496 3.264 17.2516 3.526 17.2516C3.776 17.2516 4.026 17.1596 4.221 16.9716L5.66 15.5816C6.057 15.1986 6.068 14.5646 5.684 14.1676C5.301 13.7716 4.668 13.7596 4.27 14.1426ZM6 10C6 7.794 7.794 6 10 6C12.206 6 14 7.794 14 10C14 12.206 12.206 14 10 14C7.794 14 6 12.206 6 10Z" fill="#fff")
          p Тёмный режим
          div(class="header_profile_checkbox pointer")
            div(class="profile_checkbox_element")
            div(class="profile_checkbox_ellipse" id="profile_checkbox_click")
      li(class="profile_menu_item")
        a(class="header_profile_link" href="#" id="profile_link_aside")
          svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(class="profile_link_icon" fill-rule="evenodd" clip-rule="evenodd" d="M2 0H6C7.103 0 8 0.897 8 2V6C8 7.103 7.103 8 6 8H2C0.897 8 0 7.103 0 6V2C0 0.897 0.897 0 2 0ZM12 0H16C17.103 0 18 0.897 18 2V6C18 7.103 17.103 8 16 8H12C10.897 8 10 7.103 10 6V2C10 0.897 10.897 0 12 0ZM6 10H2C0.897 10 0 10.897 0 12V16C0 17.103 0.897 18 2 18H6C7.103 18 8 17.103 8 16V12C8 10.897 7.103 10 6 10ZM12 10H16C17.103 10 18 10.897 18 12V16C18 17.103 17.103 18 16 18H12C10.897 18 10 17.103 10 16V12C10 10.897 10.897 10 12 10Z" fill="#fff")
          p Проекты
      li(class="profile_menu_item")
        a(class="header_profile_link" href="#" id="profile_link_aside")
          svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(class="profile_link_icon" fill-rule="evenodd" clip-rule="evenodd" d="M14.8887 16.3184C14.7167 15.8854 14.4727 15.5074 14.2587 15.1844C14.1507 15.0224 14.0397 14.8574 13.9427 14.6874C13.5537 14.0114 13.6877 13.7374 14.3187 12.6804L14.4207 12.5074C14.9317 11.6464 14.9597 10.8204 14.9857 10.0924C14.9977 9.73437 15.0097 9.39737 15.0787 9.08037C15.2397 8.34837 16.7867 8.15337 17.7457 8.03837C17.9067 8.66737 17.9997 9.32237 17.9997 10.0004C17.9997 12.5694 16.7777 14.8534 14.8887 16.3184ZM9.99969 2.00037C10.6157 2.00037 11.2107 2.07637 11.7867 2.20837C11.6177 2.58037 11.3567 2.91937 11.0127 3.18837C10.7947 3.36037 10.5497 3.50337 10.3067 3.64837C9.65569 4.03637 8.91869 4.47637 8.45669 5.32237C7.84069 6.45237 7.84069 7.60637 7.84069 8.62437C7.84069 9.97937 7.79669 10.7804 6.89269 11.4874C5.52369 12.5604 3.42869 11.9614 2.13269 11.4164C2.05069 10.9554 1.99969 10.4834 1.99969 10.0004C1.99969 5.58937 5.5887 2.00037 9.99969 2.00037ZM9.99969 0.000366211C4.48569 0.000366211 -0.000305176 4.48637 -0.000305176 10.0004C-0.000305176 15.5134 4.48569 20.0004 9.99969 20.0004C15.5137 20.0004 19.9997 15.5134 19.9997 10.0004C19.9997 4.48637 15.5137 0.000366211 9.99969 0.000366211Z" fill="#fff")
          p Новости
      li(class="profile_menu_item")
        a(class="header_profile_link" href="#" id="profile_link_aside")
          svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(class="profile_link_icon" fill-rule="evenodd" clip-rule="evenodd" d="M11 10.8369V11.9999C11 12.5529 10.553 12.9999 10 12.9999C9.447 12.9999 9 12.5529 9 11.9999V9.99988C9 9.44688 9.447 8.99988 10 8.99988C10.827 8.99988 11.5 8.32688 11.5 7.49988C11.5 6.67288 10.827 5.99988 10 5.99988C9.173 5.99988 8.5 6.67288 8.5 7.49988C8.5 8.05288 8.053 8.49988 7.5 8.49988C6.947 8.49988 6.5 8.05288 6.5 7.49988C6.5 5.56988 8.07 3.99988 10 3.99988C11.93 3.99988 13.5 5.56988 13.5 7.49988C13.5 9.07988 12.44 10.4029 11 10.8369ZM10 15.9999C9.447 15.9999 9 15.5529 9 14.9999C9 14.4469 9.447 13.9999 10 13.9999C10.553 13.9999 11 14.4469 11 14.9999C11 15.5529 10.553 15.9999 10 15.9999ZM10 -0.00012207C4.486 -0.00012207 0 4.48588 0 9.99988C0 15.5139 4.486 19.9999 10 19.9999C15.514 19.9999 20 15.5139 20 9.99988C20 4.48588 15.514 -0.00012207 10 -0.00012207Z" fill="#fff")
          p Помощь
      li(class="profile_menu_item")
        a(class="header_profile_link" href="#")
          svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(class="profile_link_icon" fill-rule="evenodd" clip-rule="evenodd" d="M4 1C4 1.55 3.55 2 3 2H2V14H3C3.55 14 4 14.45 4 15C4 15.55 3.55 16 3 16H1C0.45 16 0 15.55 0 15V1C0 0.45 0.45 0 1 0H3C3.55 0 4 0.45 4 1ZM14.0039 3.4248L16.8179 7.4248C17.0679 7.7788 17.0599 8.2538 16.7999 8.5998L13.7999 12.5998C13.6039 12.8618 13.3029 12.9998 12.9989 12.9998C12.7909 12.9998 12.5799 12.9348 12.3999 12.7998C11.9579 12.4688 11.8689 11.8418 12.1999 11.4008L14.0009 8.9998H13.9999H5.9999C5.4479 8.9998 4.9999 8.5528 4.9999 7.9998C4.9999 7.4468 5.4479 6.9998 5.9999 6.9998H13.9999C14.0164 6.9998 14.0317 7.00436 14.0472 7.00895C14.0598 7.01269 14.0724 7.01645 14.0859 7.0178L12.3679 4.5748C12.0499 4.1238 12.1589 3.4998 12.6109 3.1818C13.0619 2.8628 13.6859 2.9728 14.0039 3.4248Z" fill="#fff")
          p Выйти
  ul(class="header_mobile flex")
    li
      a(class="header_mobile_item pointer")
        svg(width="20" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(class="mobile_item_icon" fill-rule="evenodd" clip-rule="evenodd" d="M2.83333 0.5H7.5C8.78683 0.5 9.83333 1.5465 9.83333 2.83333V7.5C9.83333 8.78683 8.78683 9.83333 7.5 9.83333H2.83333C1.5465 9.83333 0.5 8.78683 0.5 7.5V2.83333C0.5 1.5465 1.5465 0.5 2.83333 0.5ZM14.5 0.5H19.1667C20.4535 0.5 21.5 1.5465 21.5 2.83333V7.5C21.5 8.78683 20.4535 9.83333 19.1667 9.83333H14.5C13.2132 9.83333 12.1667 8.78683 12.1667 7.5V2.83333C12.1667 1.5465 13.2132 0.5 14.5 0.5ZM7.5 12.1667H2.83333C1.5465 12.1667 0.5 13.2132 0.5 14.5V19.1667C0.5 20.4535 1.5465 21.5 2.83333 21.5H7.5C8.78683 21.5 9.83333 20.4535 9.83333 19.1667V14.5C9.83333 13.2132 8.78683 12.1667 7.5 12.1667ZM14.5 12.1667H19.1667C20.4535 12.1667 21.5 13.2132 21.5 14.5V19.1667C21.5 20.4535 20.4535 21.5 19.1667 21.5H14.5C13.2132 21.5 12.1667 20.4535 12.1667 19.1667V14.5C12.1667 13.2132 13.2132 12.1667 14.5 12.1667Z" fill="#5F5F6E")
        p Проекты
    li
      a(class="header_mobile_item pointer")
        svg(width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(class="mobile_item_icon" fill-rule="evenodd" clip-rule="evenodd" d="M17.7035 19.3717C17.5028 18.8665 17.2182 18.4255 16.9685 18.0487C16.8425 17.8597 16.713 17.6672 16.5998 17.4688C16.146 16.6802 16.3023 16.3605 17.0385 15.1273L17.1575 14.9255C17.7537 13.921 17.7863 12.9573 17.8167 12.108C17.8307 11.6903 17.8447 11.2972 17.9252 10.9273C18.113 10.0733 19.9178 9.84583 21.0367 9.71167C21.2245 10.4455 21.333 11.2097 21.333 12.0007C21.333 14.9978 19.9073 17.6625 17.7035 19.3717ZM11.9997 2.66732C12.7183 2.66732 13.4125 2.75598 14.0845 2.90998C13.8873 3.34398 13.5828 3.73948 13.1815 4.05332C12.9272 4.25398 12.6413 4.42082 12.3578 4.58998C11.5983 5.04265 10.7385 5.55598 10.1995 6.54298C9.48084 7.86132 9.48084 9.20765 9.48084 10.3953C9.48084 11.9762 9.42951 12.9107 8.37484 13.7355C6.77767 14.9873 4.33351 14.2885 2.82151 13.6526C2.72584 13.1148 2.66634 12.5641 2.66634 12.0007C2.66634 6.85448 6.85351 2.66732 11.9997 2.66732ZM11.9997 0.333984C5.56667 0.333984 0.333008 5.56765 0.333008 12.0007C0.333008 18.4325 5.56667 23.6673 11.9997 23.6673C18.4327 23.6673 23.6663 18.4325 23.6663 12.0007C23.6663 5.56765 18.4327 0.333984 11.9997 0.333984Z" fill="#5F5F6E")
        p Новости
    li
      a(class="header_mobile_item pointer")
        svg(width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(class="mobile_item_icon" fill-rule="evenodd" clip-rule="evenodd" d="M13.1667 12.9762V14.333C13.1667 14.9782 12.6452 15.4997 12 15.4997C11.3549 15.4997 10.8334 14.9782 10.8334 14.333V11.9997C10.8334 11.3545 11.3549 10.833 12 10.833C12.9649 10.833 13.75 10.0478 13.75 9.08301C13.75 8.11817 12.9649 7.33301 12 7.33301C11.0352 7.33301 10.25 8.11817 10.25 9.08301C10.25 9.72817 9.72854 10.2497 9.08337 10.2497C8.43821 10.2497 7.91671 9.72817 7.91671 9.08301C7.91671 6.83134 9.74837 4.99967 12 4.99967C14.2517 4.99967 16.0834 6.83134 16.0834 9.08301C16.0834 10.9263 14.8467 12.4698 13.1667 12.9762ZM12 18.9997C11.3549 18.9997 10.8334 18.4782 10.8334 17.833C10.8334 17.1878 11.3549 16.6663 12 16.6663C12.6452 16.6663 13.1667 17.1878 13.1667 17.833C13.1667 18.4782 12.6452 18.9997 12 18.9997ZM12 0.333008C5.56704 0.333008 0.333374 5.56667 0.333374 11.9997C0.333374 18.4327 5.56704 23.6663 12 23.6663C18.433 23.6663 23.6667 18.4327 23.6667 11.9997C23.6667 5.56667 18.433 0.333008 12 0.333008Z" fill="#5F5F6E")
        p Помощь
    li
      a(class="header_mobile_item pointer" id="mobile_item_menu") 
        svg(width="24" height="22" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(class="mobile_item_icon" id="icon_menu" fill-rule="evenodd" clip-rule="evenodd" d="M1.60637 0H20.3932C21.0022 0 21.5004 0.498167 21.5004 1.10717V1.22617C21.5004 1.83517 21.0022 2.33333 20.3932 2.33333H1.60637C0.997366 2.33333 0.500366 1.83517 0.500366 1.22617V1.10717C0.500366 0.498167 0.997366 0 1.60637 0ZM20.3932 5.83333H1.60637C0.997366 5.83333 0.500366 6.3315 0.500366 6.9405V7.0595C0.500366 7.6685 0.997366 8.16667 1.60637 8.16667H20.3932C21.0022 8.16667 21.5004 7.6685 21.5004 7.0595V6.9405C21.5004 6.3315 21.0022 5.83333 20.3932 5.83333ZM20.3932 11.6667H1.60637C0.997366 11.6667 0.500366 12.1648 0.500366 12.7738V12.8928C0.500366 13.5018 0.997366 14 1.60637 14H20.3932C21.0022 14 21.5004 13.5018 21.5004 12.8928V12.7738C21.5004 12.1648 21.0022 11.6667 20.3932 11.6667Z" fill="#5F5F6E")
        p Меню

// Mobile menu sections
div(class="header_mobile_section") 
  ul(class="mobile_section_list")
    li
      h2(class="mobile_section_item") Меню
    li(class="section_list_item")
      a(class="mobile_section_item" href="#")
        svg(width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(class="mobile_section_icon" fill-rule="evenodd" clip-rule="evenodd" d="M11 4C11 6.206 9.206 8 7 8C4.794 8 3 6.206 3 4C3 1.794 4.794 0 7 0C9.206 0 11 1.794 11 4ZM14 17C14 17.552 13.553 18 13 18H1C0.447 18 0 17.552 0 17C0 13.14 3.141 10 7 10C10.859 10 14 13.14 14 17Z" fill="#fff")
        p Мой профиль
    li(class="section_list_item")
      a(class="mobile_section_item" href="#")
        svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(class="mobile_section_icon" fill-rule="evenodd" clip-rule="evenodd" d="M2 0H6C7.103 0 8 0.897 8 2V6C8 7.103 7.103 8 6 8H2C0.897 8 0 7.103 0 6V2C0 0.897 0.897 0 2 0ZM12 0H16C17.103 0 18 0.897 18 2V6C18 7.103 17.103 8 16 8H12C10.897 8 10 7.103 10 6V2C10 0.897 10.897 0 12 0ZM6 10H2C0.897 10 0 10.897 0 12V16C0 17.103 0.897 18 2 18H6C7.103 18 8 17.103 8 16V12C8 10.897 7.103 10 6 10ZM12 10H16C17.103 10 18 10.897 18 12V16C18 17.103 17.103 18 16 18H12C10.897 18 10 17.103 10 16V12C10 10.897 10.897 10 12 10Z" fill="white")
        p История сборов
    li
      div(class="mobile_section_item")
        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd" clip-rule="evenodd" d="M10 4C10.552 4 11 3.553 11 3V1C11 0.447 10.552 0 10 0C9.448 0 9 0.447 9 1V3C9 3.553 9.448 4 10 4ZM19 9H17C16.448 9 16 9.447 16 10C16 10.553 16.448 11 17 11H19C19.552 11 20 10.553 20 10C20 9.447 19.552 9 19 9ZM3 9C3.552 9 4 9.447 4 10C4 10.553 3.552 11 3 11H1C0.448 11 0 10.553 0 10C0 9.447 0.448 9 1 9H3ZM4.2207 3.0283C3.8237 2.6453 3.1907 2.6573 2.8067 3.0533C2.4227 3.4503 2.4337 4.0843 2.8307 4.4673L4.2697 5.8573C4.4647 6.0453 4.7147 6.1373 4.9647 6.1373C5.2267 6.1373 5.4877 6.0353 5.6837 5.8323C6.0677 5.4353 6.0567 4.8013 5.6597 4.4183L4.2207 3.0283ZM15.7302 5.8577C15.5352 6.0447 15.2852 6.1377 15.0352 6.1377C14.7732 6.1377 14.5122 6.0347 14.3162 5.8317C13.9322 5.4357 13.9432 4.8017 14.3402 4.4177L15.7792 3.0287C16.1782 2.6457 16.8102 2.6577 17.1932 3.0537C17.5772 3.4497 17.5662 4.0837 17.1692 4.4677L15.7302 5.8577ZM10 16C9.448 16 9 16.447 9 17V19C9 19.553 9.448 20 10 20C10.552 20 11 19.553 11 19V17C11 16.447 10.552 16 10 16ZM14.316 14.1676C14.7 13.7716 15.333 13.7596 15.73 14.1426L17.169 15.5326C17.566 15.9156 17.577 16.5496 17.193 16.9466C16.997 17.1496 16.736 17.2516 16.474 17.2516C16.224 17.2516 15.974 17.1596 15.779 16.9716L14.34 15.5816C13.943 15.1986 13.932 14.5646 14.316 14.1676ZM4.27 14.1426L2.831 15.5326C2.434 15.9156 2.423 16.5496 2.807 16.9466C3.003 17.1496 3.264 17.2516 3.526 17.2516C3.776 17.2516 4.026 17.1596 4.221 16.9716L5.66 15.5816C6.057 15.1986 6.068 14.5646 5.684 14.1676C5.301 13.7716 4.668 13.7596 4.27 14.1426ZM6 10C6 7.794 7.794 6 10 6C12.206 6 14 7.794 14 10C14 12.206 12.206 14 10 14C7.794 14 6 12.206 6 10Z" fill="#fff")
        p Тёмный режим 
        div(class="mobile_section_checkbox pointer")
          div(class="section_checkbox_element")
          div(class="section_checkbox_ellipse" id="section_checkbox_click")
    li(class="section_list_item")
      a(class="mobile_section_item" href="#")
        svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd" clip-rule="evenodd" d="M4 1C4 1.55 3.55 2 3 2H2V14H3C3.55 14 4 14.45 4 15C4 15.55 3.55 16 3 16H1C0.45 16 0 15.55 0 15V1C0 0.45 0.45 0 1 0H3C3.55 0 4 0.45 4 1ZM14.0039 3.4248L16.8179 7.4248C17.0679 7.7788 17.0599 8.2538 16.7999 8.5998L13.7999 12.5998C13.6039 12.8618 13.3029 12.9998 12.9989 12.9998C12.7909 12.9998 12.5799 12.9348 12.3999 12.7998C11.9579 12.4688 11.8689 11.8418 12.1999 11.4008L14.0009 8.9998H13.9999H5.9999C5.4479 8.9998 4.9999 8.5528 4.9999 7.9998C4.9999 7.4468 5.4479 6.9998 5.9999 6.9998H13.9999C14.0164 6.9998 14.0317 7.00436 14.0472 7.00895C14.0598 7.01269 14.0724 7.01645 14.0859 7.0178L12.3679 4.5748C12.0499 4.1238 12.1589 3.4998 12.6109 3.1818C13.0619 2.8628 13.6859 2.9728 14.0039 3.4248Z" fill="#E24444")
        p Выйти
  p(class="mobile_section_police") © 2020 - All Rights Lecensed

//jQuery
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")