header
  a(class="header_logo" href='index.html')
    div(class="header_logo_icon flex")
      img(src="../../img/header/top_logo_icon.png")
    h1(class="header_logo_title") Pro-Promotion.com
  ul(class="header_bar")
    li
      a(class="header_bar_link" href="#")
        i(class="fas fa-th-large")
        p Task list
    li
      a(class="header_bar_link" href="#")
        i(class="fas fa-globe-africa")
        p News
    li
      a(class="header_bar_link" href="#")
        i(class="fas fa-question-circle")
        p Help
  div(class="header_profile")
    ul(class="header_profile_bar")
      button(class="profile_bar_btn flex")
        img(src="../../img/header/plus_money_icon.png")
      img(src="../../img/header/money_icon.png")
      p(class="profile_bar_indicator") 2023
    a(href="#")
    button(class="header_profile_btn")
      img(src="../../img/header/avatar_icon.png")
      i(class="fas fa-chevron-down")