header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px 20px;
  border-bottom: 2px solid var(--light_grey);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  background: var(--gray);
}

.header_logo {
  display: flex;
  align-items: center;
}

.header_logo_icon {
  padding: 7px;
  background: var(--blue);
  border-radius: 50%;
}

.header_logo_title {
  font-size: 18px;
  color: var(--white);
  margin-left: 10px;
}

.header_bar {
  display: flex;
  align-items: center;
}

.header_bar_link {
  color: var(--asphalt_color);
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 16px;
  letter-spacing: -0.5px;
}

.header_bar_link:hover {
  color: var(--white);
}

.header_bar_link p {
  margin-left: 10px;
}

.header_profile {
  position: relative;
  display: flex;
  align-items: center;
}

.header_profile_bar {
  display: flex;
  align-items: center;
  padding: 5px 30px 5px 5px;
  background: var(--light_grey);
  border-radius: 15px;
  margin-right: 10px;
}

.profile_bar_btn {
  padding: 7px;
  background: var(--blue);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 22px;
}

.profile_bar_indicator {
  color: var(--white);
  font-size: 14px;
  margin-left: 8px;
  letter-spacing: 1px;
}

.header_profile_btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--asphalt_color);
}

.header_profile_btn i {
  margin-left: 10px;
}

.header_profile_btn:hover {
  color: var(--blue);
}

.header_profile_menu {
  display: none;
  position: fixed;
  width: 100%;
  max-width: 254px;
  padding: 0 20px;
  background: var(--gray);
  top: 62px;
  right: 20px;
  z-index: 1000;
  border-radius: 15px;
  border: 2px solid var(--light_grey);
}

#profile_link_aside {
  display: none;
}

.header_profile_link {
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--white); 
  font-size: 15px;
  padding: 20px 0;
}

.header_profile_link p {
  margin-left: 10px;
}

.header_profile_menu li:nth-child(n+2):nth-child(-n+3) 
.header_profile_link {
  border-bottom: 1px solid var(--light_grey);
}

.header_profile_menu li:hover:nth-child(-n+2) 
.header_profile_link {
  color: var(--blue);
}

.header_profile_menu li:nth-child(3) 
.header_profile_link {
  cursor: auto;
}

.header_profile_menu li:hover:last-child 
.header_profile_link {
  color: var(--red);
}

.header_profile_checkbox {
  display: flex;
  width: 44px;
  height: 24px;
  background: var(--light_grey);
  margin-left: auto;
  border-radius: 15px;
  padding: 3px;
  cursor: pointer;
}

.profile_checkbox_element {
  display: none;
  width: 19px;
}

.profile_checkbox_ellipse {
  height: 18px;
  width: 18px;
  background: var(--blue);
  border-radius: 50%;
}

.profile_checkbox_ellipse_click {
  height: 18px;
  width: 18px;
  background: var(--white);
  border-radius: 50%;
}

.header_mobile {
  display: none;
  position: fixed;
  justify-content: space-between;
  padding: 0 20px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: var(--gray);
  border-top: 2px solid var(--light_grey);
}

.header_mobile_item {
  display: block;
  text-align: center;
  color: var(--asphalt_color);
}

.header_mobile_item:focus {
  color: var(--white);
}

.header_mobile_item p {
  margin-top: 5px;
  font-size: 10px;
}