/*max-width: 800px*/
@media only screen and (max-width: 800px) {
    .header_bar {
        display: none;
    }

    #profile_link_aside {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        color: var(--white); 
        font-size: 15px;
        padding: 20px 0;
      }

    #profile_link_aside:hover {
        color: var(--blue);
    }  
}

/*max-width: 450px*/
@media only screen and (max-width: 450px) {
    header {
        padding: 12px 15px;
    }

    .header_profile_btn {
        display: none;
    }

    .header_logo_title {
        font-size: 16px;
    }

    .header_profile_bar {
        padding: 4px 10px 5px 4px;
        border-radius: 10px;
        margin-right: 0px;
    }

    .profile_bar_btn {
        padding: 3px;
        border-radius: 8px;
        margin-right: 10px;
    }

    #profile_bar_icon {
        width: 17px;
    }

    .profile_bar_indicator {
        font-size: 12px;
    }

    .header_mobile {
        display: flex;
    }
}