/* GLOBAL TAGS */

:root {
    --blue: #4447E2;
    --white: #fff;
    --gray: #1C1C24;
    --light_grey: #262631;
    --asphalt_color: #5F5F6E;
    --red: #E24444;
}

.flex {
    display: flex;
    justify-content: center;
    align-content: center;
}