/* GLOBAL TAGS */

body {
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
  }

:root {
    --blue: #4447E2;
    --white: #fff;
    --gray: #1C1C24;
    --light_gray: #262631;
    --asphalt_color: #5F5F6E;
    --red: #E24444;
    --top_gray: #131419;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.not_scroll {
    overflow: hidden;
  }

.pointer {
  cursor: pointer;
}